.immoscout24_filter_explanation ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    overflow: auto;
    max-height: 28em;
}

.immoscout24_filter_explanation li {
    padding: .4em;
    margin: .3em;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: .5em;
    min-width: 1.5em;
    text-align: center;
}

.immoscout24_filter_explanation .operators li {
    background-color: #f3e8bc;
    color: #666666;
    font-weight: bolder;
}

.immoscout24_filter_explanation .mappings li {
    background-color: #f3f3f3;
    color: #666666;
}

.immoscout24_filter_explanation li:hover {
    background-color: #dedede;
}

.immoscout24_filter_explanation li:active {
    background-color: #f2f2f2;
}
